.root{
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .ref{
        font-weight: 400;
        font-size: 16px;
        margin-top: 16px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #727272;
        display: flex;
        align-items: center;
        & a{
            margin-left: 16px;
            display: flex;
            font-weight: 600;
            font-size: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            color: #363636;
            align-items: center;
            &:hover{
                & i{
                    transform: translateX(10px);
                }
            }
            & i{
                margin-left: 15px;
                transition: .3s all ease-in-out;
            }
        }

    }
    & h3{
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin-bottom: 46px;
        @media screen and (max-width: 600px) {
            font-size: 18px;
            margin-bottom: 2px;
        }
    }
    & p{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #363636;
        margin-top: 8px;
    }
    & h4{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1px;
        color: #363636;
        margin-bottom: 8px;
    }
    & form{
        margin-top: 32px;
    }
    .formWrap{
        padding: 48px 56px;
        background: #FFFFFF;
        width: 528px;
        border-radius: 16px;
       
    }
}
.modalWrap{
    text-align: center;
    & h4{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #363636;
    }
    & p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: #363636;
        margin: 32px 0px;
    }
}
.unhinted{
    color: rgb(167, 167, 167);
}